:root {
  --accent: #383;
  --hover:  #252;
  --dark:   #333;
  --mid:    #ddd;
  --light:  #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin:  0;
  padding: 0;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;


  font-family: 'Poppins', sans-serif;
  color:       var(--dark);
  text-align:  center;
  
  background: fixed center / cover no-repeat url("images/bg.jpg");

  transition: background 0.3s, color 0.3s;
}

.dark-mode {
  color:      white;
}

.button.dark-toggle {
  position: fixed;
  inset:    2rem 2rem auto auto;
  width:    3rem;
  height:   3rem;

  display: flex;
  align-items:     center;
  justify-content: center;

  box-shadow: 0px 2px 5px #0005;

  border: none;
  border-radius: 50%;
  background: var(--accent);

  font-size: 1.2rem;

  cursor: pointer;
}

           .dark-toggle:after {content: "🌙"}
.dark-mode .dark-toggle:after {content: "☀️"}



#loader {
  z-index: 100;

  position: fixed;
  width:  100%;
  height: 100%;

  display: flex;
  align-items:     center;
  justify-content: center;

  background: var(--mid);
}

.spinner {
  border:        .5rem solid var(--mid);
  border-top:    .5rem solid var(--accent);
  border-radius: 50%;

  width:  3rem;
  height: 3rem;

  animation: spin 1s linear infinite;
}

@keyframes spin {100% {transform: rotate(360deg)}}



header {
  padding: 1.5rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;

  flex-grow: 0;
  flex-shrink: 0;

  width: 100%;
  gap: 2rem;

  background: var(--accent);

  color: white;
}

.logo {
  width: 120px;
  height: 120px;

  border-radius: 50%;
  background: white;
}

.subtitle {
  font-size: 1.1rem;
}


.overlay {
  z-index: -1;
  
  position: fixed;
  width:  100%;
  height: 100%;

  display: flex;

  background: #0000;
  transition: background 0.3s, color 0.3s;
}

.dark-mode .overlay {
  background: #0008;
}

main {
  padding: 0 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  flex-grow: 1;

  background: #fffd;
  transition: background 0.3s, color 0.3s;
}

.coming-soon {
  font-size: 4rem;
  margin-bottom: 0;
}

.dark-mode main {
  background: #0008;
}

.countdown-section {
  margin: 0rem auto 2rem;
}

#countdown {
  gap: 1.5rem;

  display: flex;
  justify-content: center;
}

#countdown div {
  padding: 1rem 2rem;

  display: flex;
  flex-direction:  column;
  justify-content: center;

  border-radius: 1rem;
  background:    #ada;
}

.dark-mode #countdown div {
  background: var(--accent);
}

#countdown span {
  margin: 1rem;

  font-size:   2rem;
  font-weight: bold;
}

#countdown p {
  margin: 1rem;

  vertical-align: middle;
  line-height:    2.25em;
}

.info {
  max-width: 65ch;

  line-height: 1.75rem;
}

h2 {
  margin-top: 2.5rem;
}

.info p {
  margin: 1.5rem;

  text-align: left;
}

ul {
  margin-bottom: 2.5rem;

  text-align: left;
}

.card-list {
  margin: 0 4rem;

  display: grid;
  grid-template-columns: 1fr 1fr;

  justify-items: center;
  gap: 2rem;
}



.newsletter {
  margin: 2rem auto;
}

form {
  margin-top: 1rem;
  line-height: 3rem;
}

input[type="email"] {
  border: none;
  border-radius: .5rem;
  padding: .75rem;

  background: var(--mid);
  color: var(--dark);

  width: 250px;
}

.button {
  border: none;
  border-radius: .5rem;
  padding: .75rem 1.5rem;

  background:  var(--accent);
  color:       white;
  font-weight: bold;

  font-weight:     normal;
  text-decoration: none;

  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {background: var(--hover)}



footer {
  height: 4rem;
  width:  100%;
  
  display:flex;
  flex-direction:  row;
  justify-content: center;

  flex-grow: 0;
  flex-shrink: 0;

  gap: 2rem;

  background: var(--accent);

  color: white;
  line-height: 4rem;
}

footer p {
  margin: 0;
}

.fade-in {
  opacity:   0;
  animation: fadeIn 2.5s forwards;
}

@keyframes fadeIn {100% {opacity: 1}}



@media (max-width: 800px) {
  #countdown     {flex-direction: column}
  #countdown div {flex-direction: row}
  .card-list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 670px) {
  header {
    flex-direction: column;
    gap: 0;
  }

  footer {
    flex-direction: column;
    gap: 0;
    height: 8rem;
  line-height: 2rem;
  }
}

@media (max-width: 432px) {
  button[type=submit] {width: 275px}
}
